* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
  background-color: whitesmoke;
}

.header {
  padding: 80px;
  text-align: center;
  background: #1563d6;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {   
  flex: 70%;
  background-color: lightgrey;
  padding: 20px;
}

.graydiv {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}